.footer {
  background-color: $grey;
  padding: 35px 30px 22px 30px;
}

.footer__social {
  text-align: center;
}

.footer__copyright {
  text-align: center;
}

.copyright__text {
  color: $black;
  font-family: 'opensansbold', sans-serif;
  font-weight: 600;
  line-height: 18px;
  font-size: 19px;
}
