.page-main {
  background-color: $white;
}

.page-main__title {
  h2 {
    color: $black;
    font-family: 'opensansbold', sans-serif;
    font-weight: 600;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 45px;
  }

}
