.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item-open {
  width: 100%;
}

.catalog__item-photo img{
  width: 100%;
  height: auto;
  background-size: cover;
}

.catalog__item-info {
  padding: 24px 26px 0;
  width: 100%;
}

.catalog__item-name {
  color: $black;
  font-family: 'opensans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  max-width: 205px;
}

.catalog__item-description {
  color: #444444;
  font-size: 13px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

.catalog__item-buy {
  margin-bottom: 0;
  border-top: 1px solid #f1f1f1;
  padding: 20px 0 27px;
  position: relative;
}

.catalog__price {
  color: $black;
  font-family: 'opensans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.catalog__button-cart {
  position: absolute;
  right: 0;
}
