.header-nav {
  background-color: $white;
  color: $black;
  min-height: 80px;
  line-height: 24px;
  font-family: "opensansbold", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  justify-content: center;
}

.header-nav__wrapper {
  position: relative;
  width: 260px;
  display: flex;
  flex-direction: column;
}

.header-nav__logo {
  padding: 30px 0;
  margin: 0 auto;
}

.header-nav__toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
}

.header-nav__list-wrapper--mobile {
}

.header-nav__list {
}

.header-nav__item {
  padding: 30px 0 30px 25px;
  a {
    color: $black;
  }
}

.header-nav__user-menu{
  a {
    color: $black;
  }
}

.header-nav__free-delivery {
  display: none;
  font-family: "opensans", sans-serif;
  font-weight: 200;
  font-size: 15px;
}


/* navigation block*/

.header2 {
  background-color: $white;
  color: $black;
  min-height: 80px;
  line-height: 24px;
  font-family: "opensansbold", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  .navigation__item {
    display: none;
    &--logo {
      display: block;
      margin: 0 auto;
    }
  }
}

.navigation__list--opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .navigation__item {
    display: block;
    &:not(.navigation__item--logo) {
      padding: 30px 0;
      border-top: 1px solid $grey;
      width: 100%;
      text-align: center;
    }
    &--hidden {
      display: none;
    }
    &--logo {
      order: -1;
      padding: 19px 0;
    }
  }
}

.navigation__toggle {
  position: absolute;
  right: 30px;
  top: 27px;
}
