.main-categories {
  display: flex;
  flex-wrap: wrap;
}

.main-categories__category {
  color: $white;
  text-decoration: none;
  font-family: 'opensans', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  padding: 28px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-categories__wrapper {
  display: flex;
  width: 260px;
  margin: 0 auto;
  p {
    margin: 0;
  }
  img {
    margin-left: auto;
  }
}

.main-categories__category--interior {
  img {
    padding-right: 8px;
  }
}

.main-categories__category--interior {
  background-color: #63D1BB;
}
.main-categories__category--toys {
  background-color: #46C1AE;
}
