.modal-add-basket__wrapper {
  width: 100%;
}

.modal-add-basket {
  padding: 38px 30px 46px 30px;
  text-align: center;
  background-color: $white;
  border-top: 1px solid #c6c6c6;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-add-basket__header {
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.modal-add-basket__paragraph {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
}
