.reviews {
  color: #444444;
  padding: 0px 30px 41px 30px;
}

.reviews__title {

}

.reviews__list {
  margin-top: 38px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  margin-top: 40px;
  margin-bottom: 38px;
}

.reviews__author-name {
  color: $black;
  font-family: 'opensansbold', sans-serif;
  font-weight: 600;
}

.reviews__controllers {
  width: 100%;
  margin-bottom: 38px;
  display: flex;
}

.reviews__controllers-button {
  width: 49.9%;
  padding: 26px 65px 26px 65px;
  border: 1px solid #ECECEC;
  background-color: $white;
}

.reviews__controllers-button--prev {
  background: url(../img/icon-left-arrow.svg) no-repeat;
  background-position: center;
}

.reviews__controllers-button--next {
  background: url(../img/icon-right-arrow.svg) no-repeat;
  background-position: center;
}

/*

.reviews2 {
  @media screen and (min-width: 768px) {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1150px) {
    width: 1050px;
    margin: 0 auto;
  }
  &__inner2 {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__title2 {
    @media screen and (min-width: 768px) {
      order: -2;
      max-width: 500px;
    }
    @media screen and (min-width: 1150px) {
      margin-left: 15%;
    }
  }
  &__list2 {
    @media screen and (min-width: 768px) {
      flex-basis: 100%;
    }
    @media screen and (min-width: 1150px) {
      margin-left: 15%;
    }
  }
  &__write-us {
    @media screen and (min-width: 768px) {
      order: -1;
    }
  }
  &__author2 {
    @media screen and (min-width: 1150px) {
      margin-left: 15%;
    }
  }
}
 */
