.header__tagline {
  color: $black;
}

.header__tagline-text {
  text-align: center;
  width: 260px;
  margin: 0px auto;
  font-family: 'opensansbold', sans-serif;
  font-weight: 600;
  line-height: 30px;
  font-size: 27px;
}

.header__tagline--main-page {
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__tagline-text--main-page {
  padding-top: 75px;
}

.header__tagline--catalog {
  background-color: $grey;
  padding-top: 75px;
  padding-bottom: 80px;
}

.header__tagline--knitting {
  background-color: $grey;
  padding-top: 75px;
  padding-bottom: 80px;
}

.header__main-categories {
  margin-top: 120px;
}
