@import "vars";

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* header2 */

  .header__tagline-text {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
    padding-top: 165px;
  }

  .title-style {
    font-size: 43px;
    line-height: 50px;
    h2{
      font-size: 43px;
      line-height: 50px;
    }
  }

  .wrapper-main {
    width: 668px;
  }

  .main-categories {
    width: 668px;
    margin: 370px auto 0;
    flex-wrap: nowrap;
  }

  .main-categories__wrapper {
    width: 100%;
  }

  .main-categories__category {
    width: 50%;
  }

  .week-product {
    margin-top: 150px;
  }

  .week-product__header {
    width: 100%;
    top: -100px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .week-product__product-of-week {
    margin-top: 0;
    width: 20%;
    text-align: center;
  }

  .week-product__description {
    width: 45%;
    margin-right: 5%;
  }

  .week-product__description-text {
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
  }

  .week-product__order {
    width: 100%;
    position: inherit;
    margin-top: 60px;
  }

  .week-product__photo {
    margin-bottom: 0px;
    width: 50%;
  }

  .about-shop__list {
    margin-top: 55px;
  }

  .about-shop__item {
    width: 50%;
  }

  .about-shop__item--eco {
    order: 1;
  }

  .about-shop__item--style {
    order: 3;
  }

  .about-shop__item--likes {
    order: 5;
  }

  .about-shop__item--handmade {
    order: 2;
  }

  .about-shop__item--support {
    order: 4;
  }

  .about-shop__item--giftwrap {
    order: 6;
  }

  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    .wrapper-main {
      padding-top: 79px;
    }
  }

  .reviews__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .reviews__title {
    order: -2;
    max-width: 500px;
  }

  .reviews__list {
    margin-top: 65px;
    flex-basis: 100%;
  }

  .reviews__controllers {
    position: absolute;
    right: 0;
    bottom: 68px;
    width: 175px;
  }

  .reviews__controllers-button {
    border: none;
    padding: 26px 0 26px 0px;
  }

  .reviews__write-us {
    width: 175px;
    order: -1;
  }

  .contacts {
    padding-bottom: 55px;
  }

  .contacts__title {
    display: flex;
    justify-content: space-between;
  }

  .contacts__icon {
    display: block;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__button .main-button  {
    width: 230px;
  }

  .footer {
    text-align: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper-main {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer__logo {
    display: block;
    width: 182px;
  }

  .social {
    padding-bottom: 0;
    border: none;
  }

  .copyright {
    margin: 0;
  }

  /* catalog-page */

  .header__tagline-text--catalog {
    padding-top: 70px;
  }

  .page-main__catalog {
    width: 668px;
    margin: 80px auto 65px;
  }

  .catalog__item {
    flex-wrap: nowrap;
    height: 335px;
    width: 100%;
    margin-bottom: 55px;
  }

  .catalog__item-open {
    width: 50%;
  }

  .catalog__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__item-description {
    margin-bottom: auto;
  }

  .prodaction-process__wrapper {
    padding-top: 0;
  }

  .prodaction-process__header {
    position: relative;
    padding: 0 0 30px 0;
  }

  .prodaction-process__content {
    padding: 40px;
  }

  .prodaction-process__info {
    padding-top: 0;
    padding-bottom: 5px;
  }

  /* form-order */

  .form-order__section-title:before {
    display: none;
  }

  .form-order__wrapper {
    width: 668px;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding: 50px 0 28px;
  }

  .form-order__description--top {
    width: 668px;
    margin: 80px auto 5px;
  }

  .form-order__section-title {
    width: 35%;
  }

  .form-order__section--color {
    background-color: $grey;
  }

  .form-order__section--color {
    .form-order__label {
      width: 50%;
    }
  }

  .form-order__section--phone {
    background-color: $grey;
    margin: 0;
  }

  .form-order__section--mail {
    background-color: $grey;
  }

  .form-order__footer {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-order__description--bottom {
    order: 2;
  }

  .button-send-order {
    width: 230px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1150px) {
  .header__tagline-text {
    font-size: 53px;
  }

  .main-categories {
    width: 1050px;
  }

  .wrapper-main {
    width: 1050px;
  }

  .week-product{
    margin-top: 70px;
  }

  .week-product__description {
    margin-top: 165px;
    width: 30%;
    margin-left: 15%;
  }

  .week-product__header {
    width: 69%;
    top: 50px;
    left: 0;
  }

  .title-style {
    font-size: 53px;
    line-height: 57px;
    h2 {
      font-size: 53px;
      line-height: 57px;
    }
  }

  .week-product__title {
  }

  .week-product__product-of-week {
    order: -1;
    width: 15%;
    margin: 0 auto;
  }

  .about-shop__title {
    margin-left: 15%;
  }

  .about-shop__list {
    margin-left: 15%;
    width: 85%;
  }

  .about-shop__item {
    width: 41%;
  }

  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .reviews__title {
    margin-left: 15%;
  }

  .reviews__list {
    margin-left: 15%;
  }

  .reviews__author {
    margin-left: 15%;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    .wrapper-main {
      width: 30%;
      margin: 0 5% 0 15%;
    }
  }

  .contacts__title {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .contacts__icon {
    position: absolute;
    left: -30%;
  }

  .contacts__list {
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__button {
    position: absolute;
    bottom: 112px;
    left: 15%;
  }

  /* catalog-page */

  .page-main__catalog {
    width: 1050px;
    margin: 130px auto 105px;
  }

  .catalog {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 30%;
    height: 660px;
    flex-wrap: wrap;
  }

  .catalog__item-open {
    width: 100%;
  }

  .catalog__item-info {
    width: 100%;
  }

  .catalog__item-description {
    margin-bottom: auto;
  }

  .prodaction-process__wrapper {
    flex-wrap: nowrap;
    height: 455px;
  }

  .prodaction-process__video {
    width: 65%;
  }

  .prodaction-process__content {
    width: 35%;
    padding: 0;
  }

  .prodaction-process__header {
    padding-left: 20%;
    width: 40%;
    flex-wrap: wrap;
    padding-top: 45px;
  }

  .prodaction-process__title {
    padding-top: 30px;
  }

  .prodaction-process__info {
    padding-left: 20%;
    width: 65%;
  }

  /* form-order */

  .form-order__wrapper {
    width: 1050px;
  }

  .form-order__section-title {
    width: 21%;
    left: 6%;
  }

  .form-order__section--color {
    .form-order__label{
      width: 30%;
    }
  }

  .form-order__footer {
    width: 1050px;
    padding-left: 27%;
  }
}

