.page-main {
  background-color: $white;
}

.page-main__catalog {
  width: 260px;
  margin: 30px auto 60px;
}

.page-main__form {
  width: 260px;
  margin: 30px auto 60px;
}

.title-style {
  h2 {
    color: $black;
    font-family: 'opensansbold', sans-serif;
    font-weight: 800;
    line-height: 30px;
    font-size: 25px;
  }

}

.wrapper-main {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 68px;
}
