.prodaction-process {
  padding: 0px 30px 58px 30px;
}

.prodaction-process__wrapper {
  border: 1px solid #ececec;
  padding: 0 24px 33px 24px;
}


.prodaction-process__title {
  color: $black;
  font-family: 'opensans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  padding: 29px 0px;
}

.prodaction-process__text {
  padding: 32px 0px;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
}
