@import "_vars", "_mixins";
@import "_global/_header";
@import "_global/_page-main";
@import "_blocks/_header-nav";
@import "_blocks/_main-categories";
@import "_blocks/_week-product";
@import "_blocks/_modal";
@import "_blocks/_about-shop";
@import "_blocks/_reviews";
@import "_blocks/_contacts";
@import "_blocks/_footer";
@import "_blocks/_social";
@import "_blocks/_copyright";
@import "_blocks/_catalog";
@import "_blocks/_prodaction-process";
@import "_blocks/_form-order";
@import "_blocks/_size-buttons";

@font-face {
  font-weight: normal;
  font-family: "opensans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "opensans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}

body {
  background: #FFFFFF;
  font-family: 'opensans', sans-serif;
  margin: 0;
  ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    display: block;
  }
  blockquote {
    margin: 0;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  h2 {
    margin: 0;
  }
}

.main-button {
  text-transform: uppercase;
  color: #444444;
  padding-top: 17px;
  padding-bottom: 18px;
  width: 100%;
  text-align: center;
  font-family: 'opensansbold', sans-serif;
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  background-color: $white;
  border: 2px solid #444444;
}

.main-button--blue {
  border-color: $accent;
  background-color: $accent;
  color: $white;
}

.headline-hidden {
  display: none;
}


@import "_media" // Всегда в конце
