@import "_vars";
@import "_mixins";
@import "_header";
@import "_header-nav";
@import "_main-categories";
@import "_page-main";
@import "_week-product";
@import "_about-shop";
@import "_header";
@import "_reviews";
@import "_contacts";
@import "_footer";
@import "_social";
@import "_copyright";
@import "_catalog";
@import "_prodaction-process";
@import "_page-form";
@import "_form-order";
@import "_modal";
@import "_size-buttons";

body {
  background: #FFFFFF;
  font-family: 'opensans', sans-serif;
  margin: 0;
  ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  blockquote {
    margin: 0;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  h2 {
    margin: 0;
  }
}

.main-button {
  text-transform: uppercase;
  color: #444444;
  padding-top: 17px;
  padding-bottom: 18px;
  width: 100%;
  text-align: center;
  font-family: 'opensansbold', sans-serif;
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  background-color: $white;
  border: 2px solid #444444;
}

.main-button--blue {
  border-color: $accent;
  background-color: $accent;
  color: $white;
}

.headline-hidden {
  display: none;
}


@import "_media" // Всегда в конце
